@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrolbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}